
body {
	font-family: "Quattrocento", arial, sans-serif;
}

h1, h2, h3 {
	font-family: "Terminal Dosis Light", arial, sans-serif;
	color: #4E85E5;
	/*font-size: large;*/
}

img {
	max-width: 700px; 
}

.commentaire {
	font-style: italic;
	font-size: 0.8em;
	margin: 0px 100px;
}	

blockquote {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #999;
	-webkit-transition: text-shadow .1s linear;
	transition: text-shadow .1s linear;
}

a:hover {
	text-decoration: underline;
	color: #00f;
	/*text-shadow: 1px 1px 2px #aaa;*/
}

p {
	text-align: justify;
}

#header {
	margin: 20px auto;
	width: 800px;
	text-align: center;
	border-bottom: 1px solid #ccd;
}

#main {
	margin: 0px auto;
	width: 800px;
}

#sidebar {
	/*font-family: "Ubuntu", arial, sans-serif;*/
	font-size: 85%;
	position: fixed;
	top: 130px;
	width: 150px;
	float: left;
	border: 1px solid #999;
	padding: 0;
}

#sidebar ul {
	list-style: none;
	padding: 0 1em;
	margin-bottom: 25px;
}

#sidebar li {
	margin: 5px 0px;
}

#content {
	/*width: 600px;*/
	margin-left: 150px;
	padding: 20px;
}

#footer {
	border-top: 1px solid #ccc;
	margin: 60px auto;
	padding: 10px 0;
	width: 800px;
	font-size: small;
}

#ouinon {
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
	list-style: none;
}

#ouinon li {
	float: left;
	margin: 0 50px;
}

.bottomborder {
	border-bottom: 1px solid #ccc;
}

#brain {
	text-align: center;
}

#dollar {
	vertical-align: top;
}

#brainarea p {
	text-align: center;
	color: #888;
	font-weight: bold;
	font-size: large;
}

.empha {
	font-weight: bold;
}